@media screen and (max-width: 1366px){div#main{flex:50%;margin-top:6vw;align-content:flex-start}div#section-workbench{position:relative;overflow:hidden;height:100%}div#section-system-requirements{align-self:flex-start}img#smartiflow-logo{width:10vw}img#workbench-screenshot{min-width:55vw}}
