@media screen and (max-width: 1024px){div#centered-content{max-width:90vw}div#team-area{flex-direction:column}div.person{display:flex;flex-direction:column;padding:2vw;width:55vw;margin-top:9vw}div.column{flex:100%;max-width:100%}a.button,a.button:link,a.button:visited{width:25vw}img.person-image{width:16vw;height:16vw;margin-top:-9vw}}
